.bg-photo-container{
  display: none;
}
.centered-top .Header p {
  font-size: 26px;
}
.post-wrapper{
  margin-top: 10px !important;
}
.overflowable-item{
  border-right: 4px solid #f7f7f7;
}
.contact-form-name, .contact-form-email, .contact-form-email-message{
  width: 247px;
}
.contact-form-button{
  width: 247px;
  padding: 9px 0px;
}
.wikipedia-search-input{
  width: 112px;
}

#custom-label2{
  background: #0077e5ed;
  color: white;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
 
}
